
body {
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.analysis-inner-wrapper > div:not(:first-child) {
    border-left: 1px solid #CCC;
    padding-left: 10px;
}

.analysis-inner-wrapper > div > span {
    padding-top: 4px;
}

.indicator-list > div:nth-child(2) {
    padding-top: 7px;
}
@media all and (max-height:800px) and (max-width:1600px) {
    .indicator-list > div:nth-child(2) {
        padding-top: 5px;
    }
}

#no-data-div {
    display: flex;
    flex-direction: column;
}

a:hover {
    text-decoration: underline;
}
